.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-header {
  justify-content: space-between;
  margin-left: 75px;
}

.app-header h6 {
  font-weight: bold;
}

.app-drawer {
  width: 75px;
}

ul.drawer-content {
  margin-top: 75px;
}

div.drawer-content-button {
  justify-content: center;
}

div.drawer-content-button label {
  display: flex;
}

.drawer-icon {
  min-width: 0px !important;
}

.dark-mode-switch {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pencil {
  cursor: url("./assets/stop_circle-24px.svg"), auto;
}

.square {
  cursor: crosshair;
}

.text {
  cursor: text;
}

.lineweight-input {
  z-index: 1500;
}

.lineweight-input-paper {
  padding: 10px;
}

.selected-dark {
  border-left: 6px solid #ff9800 !important;
}

.selected {
  border-left: 6px solid !important;
}
