.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-header {
  justify-content: space-between;
  margin-left: 75px;
}

.app-drawer {
  width: 75px;
}

.drawer-content {
  margin-top: 100px;
}

.drawer-content button {
  width: 60px;
  height: 60px;
}
